.banner {
  background-color: #4a4a4a;
  color: #d0d0d0;
  text-align: center;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  font-family: 'Source Sans 3', system-ui, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}

.label {
  font-weight: 700;
  color: #ffffff;
  margin-right: 0.75rem;
}

.link {
  color: #7cb3ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .banner {
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
  }

  .label {
    display: block;
    margin-right: 0;
    margin-bottom: 0.15rem;
  }
}
